.backgroundSquare {
    width: 7.5rem;
    height: 2.8125rem;
    background-size: 551.6666666666666% 477.77777777777777%;
    background-position: 14.391143911439114% 99.41176470588235%;
    background-image: url('https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/3ce17addcf90b8cd3952b8ae0ffc1299.png');
}

.backgroundCircle {
    width: 3rem;
    height: 3rem;
    background-size: 1379.1666666666667% 447.9166666666667%;
    background-position: 1.6286644951140066% 92.21556886227545%;
    background-image: url('https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/3ce17addcf90b8cd3952b8ae0ffc1299.png');
}